#######################################
### THIS FILE IS MANAGED BY ANSIBLE ###
###    PLEASE MAKE CHANGES THERE    ###
#######################################

# # Configuration for sending metrics to InfluxDB
[[outputs.influxdb_v2]]
#  ## The URLs of the InfluxDB cluster nodes.
#  ##
#  ## Multiple URLs can be specified for a single cluster, only ONE of the
#  ## urls will be written to each interval.
#  ##   ex: urls = ["https://us-west-2-1.aws.cloud2.influxdata.com"]
  urls = ["http://{{ docker_ip }}:8086"]
#
#  ## Token for authentication.
  token = "{{ influxdb_proxmox_token }}"
#
#  ## Organization is the name of the organization you wish to write to; must exist.
  organization = "{{ influxdb_org_name }}"
#
#  ## Destination bucket to write into.
  bucket = "{{ influxdb_proxmox_bucket_name }}"
#
#  ## The value of this tag will be used to determine the bucket.  If this
#  ## tag is not set the 'bucket' option is used as the default.
#  # bucket_tag = ""
#
#  ## If true, the bucket tag will not be added to the metric.
#  # exclude_bucket_tag = false
#
#  ## Timeout for HTTP messages.
#  # timeout = "5s"
#
#  ## Additional HTTP headers
#  # http_headers = {"X-Special-Header" = "Special-Value"}
#
#  ## HTTP Proxy override, if unset values the standard proxy environment
#  ## variables are consulted to determine which proxy, if any, should be used.
#  # http_proxy = "http://corporate.proxy:3128"
#
#  ## HTTP User-Agent
#  # user_agent = "telegraf"
#
#  ## Content-Encoding for write request body, can be set to "gzip" to
#  ## compress body or "identity" to apply no encoding.
#  # content_encoding = "gzip"
#
#  ## Enable or disable uint support for writing uints influxdb 2.0.
#  # influx_uint_support = false
#
#  ## Optional TLS Config for use on HTTP connections.
#  # tls_ca = "/etc/telegraf/ca.pem"
#  # tls_cert = "/etc/telegraf/cert.pem"
#  # tls_key = "/etc/telegraf/key.pem"
#  ## Use TLS but skip chain & host verification
#  # insecure_skip_verify = false
